/* --------------------------------------- */
/* ----- Сброс, шрифты и общие стили ----- */
/* --------------------------------------- */

@font-face {
    font-family: 'FindSansProBold';
    src: url('./fonts/FindSansProBold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FindSansProRegular';
    src: url('./fonts/FindSansProRegular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FindSansProLight';
    src: url('./fonts/FindSansProLight.ttf');
    font-weight: normal;
    font-style: normal;
}

::selection {
    background-color: #303850;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #eeeeee;
    text-decoration: none;
    list-style-type: none;
    transition-duration: 0.1s;
}

body {
    width: 1900px;
    margin: auto;
    font-family: 'FindSansProLight';
    font-weight: lighter;
    /* border: 1px dashed rgba(151, 19, 10, 0.5); */
    background-color: #030B18;
    background-image: url(./images/background.jpg);
    background-position: top center;
    background-size: 100%;
    background-repeat: no-repeat;
}

*::-webkit-scrollbar {
    width: 11px;
    background-color: #1a1e2b;
}

*::-webkit-scrollbar-thumb {
    background-color: #09101C;
    border-radius: 3px;
    border: 2px solid #25304e;
}

fieldset {
    border: none;
}

.container {
    position: relative;
    width: 1600px;
    margin: auto;
    padding: 10px 2px 10px 2px;
    /* border: 1px dashed rgba(2, 122, 2, 0.5); */
}