/* --------------------------------------- */
/* ----- Сброс, шрифты и общие стили ----- */
/* --------------------------------------- */

@font-face {
    font-family: 'FindSansProBold';
    src: url('../fonts/FindSansProBold.ttf');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #eeeeee;
    text-decoration: none;
    list-style-type: none;
    transition: 0.1s;
}

body {
    width: 1900px;
    margin: auto;
    font-family: 'FindSansProBold';
    border: 1px dashed rgba(151, 19, 10, 0.5);
    background-color: #030B18;
    /* background-image: url(/images/background.jpg); */
    background-position: top center;
    background-size: 90%;
    
}

.container {
    width: 1600px;
    margin: auto;
    padding: 10px 2px 10px 2px;
    border: 1px dashed rgba(2, 122, 2, 0.5);
}

/* ----------------------------- */
/* ----- Шапка и навигация ----- */
/* ----------------------------- */

.header {
    position: sticky;
    top: 0;
    /* height: 80px; */
    background-color: rgba(31, 36, 48, 0.33);
    backdrop-filter: blur(5px);
}

.header__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Логотип, ссылки на страницы и авторизация */

.logotype {
    font-size: 36pt;
}

.navigation__list {
    display: flex;
    gap: 60px;
}

.navigation__list a{
    font-size: 22.5pt;
    color: #314ca1;
}

.login__container a {
    display: flex;
    align-items: center;
    gap: 25px;
    color: rgb(197, 197, 197);
}

.login__image {
    height: 48px;
}

.login__text {
    font-size: 27pt;
    color: gainsboro;
}

/* Анимация при наведении*/

.navigation__list a:hover {
    filter: brightness(120%);
    cursor: pointer;
}

.login__container a:hover {
    filter: brightness(80%);
    cursor: pointer;
}

/* ----------------------------- */
/* ---------- Лендинг ---------- */
/* ----------------------------- */

