/* -------------------------------- */
/* ----- Страница с рецептами ----- */
/* -------------------------------- */

.recipes__container {
    margin-top: 27px;
}

.form__title {
    text-align: center;
    font-family: 'FindSansProLight';
    font-size: 36pt;
}

/* Отключение видимости полей чекбоксов и радиокнопок */

.recipes__form label > input {
    display: none;
}

/* -------------------------------- */
/* ---------- Форма ввода --------- */
/* -------------------------------- */

/* Кнопки сортировки */

.form__sorting-container {
    display: flex;
    justify-content: space-between;
    margin-top: 47px;
}

.form__sorting-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 50px;
    font-family: 'FindSansProLight';
    font-size: 14pt;
    color: #eee;
    border: 1px solid #eee;
    border-radius: 8px;
}

.form__sorting-button:hover {
    cursor: pointer;
    color: #050505;
    background-color:#eee;
    transition-delay: 50ms;
}

/* Поиск */

.form__search-input {
    width: 900px;
    height: 50px;
    padding: 15px;
    font-family: 'FindSansProLight';
    font-size: 14pt;
    color: #eee;
    border: 1px solid #eee;
    border-radius: 8px;
    background: transparent;
}

.form__search-button {
    width: 70px;
    height: 50px;
    border: 1px solid #eee;
    border-radius: 8px;
    background: url(../images/search-button__background.png);
    background-repeat: no-repeat;
    background-position: center;
}

.form__search-input:focus {
    outline: 0;
    caret-color: #eee;
}

.form__search-input::placeholder {
    color: #afafaf;
}

.form__search-button:hover {
    cursor: pointer;
    background: url(../images/search-button__background_hover.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color:#eee;
    transition-delay: 50ms;
}

/* Кнопки категорий */

.form__category-container {
    display: flex;
    justify-content: space-between;
    margin-top: 21px;
}

.form__category-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 115px;
    height: 33px;
    font-size: 10pt;
    color: #314ca1;
    border: 1px #314ca1 solid;
    border-radius: 8px;
}

.form__category-button:hover {
    cursor: pointer;
    color: #eee;
    background-color:#314ca1;
    transition-delay: 30ms;
}

/* -------------------------------- */
/* -------- Список рецептов ------- */
/* -------------------------------- */

.article-count {
    display: flex;
    justify-content: center;
    margin-top: 55px;
    font-family: 'FindSansProLight';
    font-size: 14pt;
    color: #d8d8d8;
}

.article-list {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    height: 777px;
    padding: 11px;
    margin-top: 21px;
    overflow-x: hidden;
    border: 1px solid #677298;
    border-radius: 8px;
}

/* Карточка рецепта */

.article-list__card {
    width: 510px;
    height: 234px;
    backdrop-filter: blur(11px);
    border-radius: 8px;
}

.card__container {
    display: flex;
    flex-direction: row;
    gap: 11px;
    padding: 13px 11px;
    height: 100%;
}

/* Цвета для вертикальных колонок списка рецептов */

/* для 1-й */
.article-list__card:nth-child(n+1) {
    background-color: rgba(58, 65, 81, 0.2);
}
.article-list__card:nth-child(n+1):hover {
    background-color: rgba(58, 65, 81, 0.4);
}

/* для 2-й */
.article-list__card:nth-child(3n-1) {
    background-color: rgba(48, 57, 81, 0.3);
}
.article-list__card:nth-child(3n-1):hover {
    background-color: rgba(48, 57, 81, 0.5);
}

/* для 3-й */
.article-list__card:nth-child(3n) {
    background-color: rgba(29, 39, 56, 0.5);;
}
.article-list__card:nth-child(3n):hover {
    background-color: rgba(29, 39, 56, 0.7);
}

/* Анимации при наведении */
.article-list__card {
    transition-duration: 0.2s;
}
.article-list__card:hover {
    cursor: pointer;
    z-index: 1;
    transform: scale(107%);
    transition-duration: 0.2s;
}

/* -------------------------------- */
/* ------ Структура карточки ------ */
/* -------------------------------- */

.card__image {
    width: 241px;
    height: 207px;
    object-fit: cover;
    border-radius: 8px;
}

.card__main-content {
    display: grid;
    gap: 19px;
}

.card__title {
    margin-top: 3px;
    font-family: 'FindSansProRegular';
    font-weight: normal;
    font-size: 14pt;
}

.card__description {
    font-size: 10pt;
    color: #afafaf;
}

/* Хэштеги (От пользователя) */

.card__hashtag-list {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 11px;
}

.hashtag-list__item {
    display: flex;
    justify-content: space-around;
    gap: 3px;
    align-items: center;
    height: 22px;
    padding: 0 5px;
    font-size: 10pt;
    border-radius: 8px;
    background-color: #424a62;
    
}

.hashtag-list__image {
    width: 18px;
}

/* Теги (просмотры и время готовки) */

.card__tag-list {
    display: flex;
    justify-content: space-between;
    font-size: 10pt;
}

.tag-list__item-views, .tag-list__item-time {
    display: flex;
    align-items: center;
    gap: 5px;
}

.item-views__text {
    color: #afafaf;
}

.item-views__image {
    height: 14px;
}

/* -------------------------------- */
/* ----------- Пагинация ---------- */
/* -------------------------------- */

.recipes__pagination {
    display: flex;
    justify-content: center;
    gap: 19px;
    margin-top: 25px;
}

.pagination__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 47px;
    height: 35px;
    font-family: 'FindSansProLight';
    font-size: 10pt;
    color: #677298;
    border: 1px solid #677298;
    border-radius: 8px;
}

.pagination__item:hover {
    cursor: pointer;
    background-color: #677298;
    color: #eee;
    transition-delay: 30ms;
}